<!doctype html>
<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.5.0/css/all.css' integrity='sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU'
    crossorigin='anonymous'>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="main "  *ngIf="book">

    <div class="second">
        <h1>Edit Book</h1>
        <button (click)="gotoHome()"><i class='fas fa-home'></i>Home</button>
    </div>

    <form>

        <div class="form-group">
            <label>ISBN Number :</label>
            <input type="text" class="form-control" name="isbnNo" [(ngModel)]="book.isbnNo">
        </div>

        <div class="form-group">
            <label>Book Title :</label>
            <input type="text" class="form-control" name="title" [(ngModel)]="book.title">
        </div>

        <div class="form-group">
            <label>Author Name :</label>
            <input type="text" class="form-control" name="author" [(ngModel)]="book.author">
        </div>

        <div class="form-group">
            <label>Description :</label>
            <input type="text" class="form-control" name="desc" [(ngModel)]="book.desc">
        </div>

        <div class="second">
            <button class="btn" (click)="saveBook()">Save</button>
            <button class="btn" (click)="cancel()">Cancel</button>
        </div>
    </form>
    
</div>