.main{
  background-image: url('https://images.pexels.com/photos/1370295/pexels-photo-1370295.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500://image.freepik.com/free-photo/blue-background-with-six-books-and-blank-space_23-2147615009.jpg');
  background-position: right;
  background-repeat: no-repeat;
  background-size:contain;
  height: 550px;
  widows: 300px;
  justify-items: center;
  padding-top: 150px;
  padding-left: 100px;
}

.butt{
  padding-left: 50px;
}

.butt button{
  margin-right: 20px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 20px;
  color: white;
  background-color:  rgb(8, 134, 35);
  border: solid; 
  border-radius: 7px; 
  border-width: 0px;
}

.butt button:hover{
  background-color:  rgb(90, 89, 90);
  cursor: pointer;
}