<!doctype html>
<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.5.0/css/all.css' 
      integrity='sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU'
      crossorigin='anonymous'>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="main ">

  <div class="second">  
    <button (click)="gotoHome()"><i class='fas fa-home'></i> Home</button>      
  </div>

  <div class="second" *ngIf="books.length==0; then message; else detail"></div>
    <ng-template   #message >
        <label > List is Empty Add Book First</label>
    </ng-template><br/>
    <ng-template  #detail>        
        <ul *ngFor="let book of books; index as i">
            <li> <app-list-book-item [book]="book" [i]="i"></app-list-book-item> </li>
        </ul>
    </ng-template>
  <div class="second">  
    <button (click)="addMoreBooks()">Add More Books</button>        
  </div>  
</div>

<router-outlet></router-outlet> 
