<!doctype html>
<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.5.0/css/all.css' 
      integrity='sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU'
      crossorigin='anonymous'>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="main ">
    <div class="second">
        <h1>Add Book</h1>     
        <button class="b1" (click)="gotoHome()"><i class='fas fa-home'></i></button>     
    </div>
    
    <form #bookdetails="ngForm" (ngSubmit)="addBook(bookdetails.value)">

        <div class="form-group">
          <label>ISBN Number :</label>
          <input type="text" #inty="ngModel" class="form-control" name="isbnNo" ngModel >
        </div>
        
        <div class="form-group" >
          <label>Book Title :</label>
          <input type="text" class="form-control" name="title" ngModel>
        </div>
        
        <div class="form-group"> 
          <label>Author Name :</label> 
          <input type="text" class="form-control" name="author" ngModel>
        </div>
        
        <div class="form-group">
          <label>Description</label>
          <input type="text" class="form-control" name="desc" ngModel>
        </div>             
        
        <button class="btn" type="submit">Add</button>
    </form>
</div>