<!doctype html>
<html>
  <body>
    <button class="b1" (click)="showDetails(i)">{{book.isbnNo}}</button> 
    <button class="b1" (click)="showDetails(i)">{{book.title}}</button>
    <button class="b2" (click)="editBook(i)"><i>&#x270d;</i></button> 
    <button class="b3" (click)="deleteBook(i)"><i>&#x2718;</i></button> 
  </body>
</html>